* {
  margin: 0;
  padding: 0;
  /*  box-sizing: border-box;*/
}

.scrolling-zoom .wrapper,
.scrolling-zoom .content {
  position: relative;
  width: 100%;
  z-index: 1;
}

.scrolling-zoom .content {
  overflow-x: hidden;
}

.scrolling-zoom .content .section {
  margin-top: 70px;
  width: 100%;
  height: 100vh;
}

.scrolling-zoom .content .section.hero {
  background-image: url("https://img.freepik.com/free-vector/abstract-sale-banner-offer-discount-business-background-free-vector_1340-22420.jpg?t=st=1728563181~exp=1728566781~hmac=f3c0809e41395334b311a43969281358af8313b2dc9dcf8e2370143425d077dc&w=1380");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.scrolling-zoom .image-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  perspective: 500px;
  overflow: hidden;
}

.scrolling-zoom .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
