* {
  margin: 0;
  padding: 0;
  /*  box-sizing: border-box;*/
}

.scrolling-zoom .wrapper,
.scrolling-zoom .content {
  position: relative;
  width: 100%;
  z-index: 1;
}

.scrolling-zoom .content {
  overflow-x: hidden;
}

.scrolling-zoom .content .section {
  margin-top: 70px;
  width: 100%;
  height: 100vh;
}

.scrolling-zoom .content .section.hero {
  background-image: url("https://img.freepik.com/free-vector/vector-set-illustrated-people_53876-17363.jpg?t=st=1726379131~exp=1726382731~hmac=4fd682bb466dbef90d6183291ac84590fcb39ed8e0754375df766c759a45a014&w=996");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.scrolling-zoom .image-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  perspective: 500px;
  overflow: hidden;
}

.scrolling-zoom .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
