* {
  margin: 0;
  padding: 0;
  /*  box-sizing: border-box;*/
}

.scrolling-zoom .wrapper,
.scrolling-zoom .content {
  position: relative;
  overflow: hidden;
  width: 100%;
  z-index: 1;
}

.scrolling-zoom .content {
  overflow-x: hidden;
}

.scrolling-zoom .content .section {
  margin-top: 70px;
  width: 100%;
  height: 100vh;
}

.scrolling-zoom .content .section.hero {
  background-image: url("https://images.squarespace-cdn.com/content/52249322e4b041e1c9e14ae8/1515585426453-F2MYQ2OCI2RL3UH2730W/iStock_000017543892_smaller.jpg?format=1500w&content-type=image%2Fjpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.scrolling-zoom .content .section.hero::-webkit-scrollbar {
  display: none;
}

.scrolling-zoom .image-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  perspective: 500px;
  overflow: hidden;
}

.scrolling-zoom .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
